body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 2vh 5vw;
    font-size: 1em;
}

h1 {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    margin-left: 50vw; /* Esto empuja el título a la derecha */
    margin-bottom: 2vh;
}

.input-container {
    margin-bottom: 2vh;
}

input[type="text"] {
    padding: 0.5vh 1vw;
    width: 20vw;
    font-size: 1em;
}

button {
    padding: 0.5vh 1vw;
    margin-left: 0.5vw;
    font-size: 0.9em;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5vh 0;
    margin-bottom: 1vh;
    width: auto;
}

li span {
    flex-grow: 0;
    text-align: left;
    margin-right: 1vw;
}

li.completada span {
    text-decoration: line-through;
    color: gray;
}

li button {
    margin-left: 0.5vw;
}

