body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
    color: #000000;
    padding: 5vh 10vw;
    /* Quitamos flex para alinearlo todo a la izquierda */
}

.container {
    max-width: 700px;
    margin-left: 0; /* Alineamos todo a la izquierda */
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 2vh;
    text-align: left;  /* Alineamos el texto a la izquierda */
}

button {
    font-size: 1em;
    padding: 0.5em 1em;
    margin-bottom: 3vh;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #999;
    border-radius: 4px;
    display: block;
    /* Para que el botón se alinee a la izquierda */
}

ul {
    font-size: 1.2em;
    list-style-type: disc;
    padding-left: 2em;
    text-align: left;
}
